@model LabradogApp.ViewModels.AdminPageViewModel
@{
    ViewData["Title"] = "TeamList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Team List </h1>
    <a href="/admin/addmember" class="btn btn-primary btn-icon-split mb-2">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Add Team Member</span>
    </a>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Team</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Job</th>
                            <th>Image</th>
                            <th>Info</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Facebook Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Teams)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.Job</td>
                                <td>
                                    <img src="~/uploads/@item.Image" style="height:70px">
                                </td>
                                <td>@item.Info</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.FbLink</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
            </div>

