@model LabradogApp.ViewModels.AddBlogViewModel
@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="container" enctype="multipart/form-data" method="post" action="@Url.Action("addblog","blog")">
    <div class="form-group">
        <p>Blog Name</p>
        <input type="text" class="form-control form-control-user"
               id="Name" name="Name" aria-describedby="emailHelp"
               placeholder="Enter Blog Name..." required>
    </div>
    <div class="form-group">
        <p>Image</p>
        <input type="file" class="form-control form-control-user"
               id="Image" name="Image" placeholder="Enter Main Image" required>
    </div>
    <div class="form-group">
        <p>Category</p>
        <select class="form-control form-control-user" required name="CategoryId">
            @foreach (var item in Model.Categories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    @*<div class="form-group">
        <p>Tags</p>
        <select multiple class="form-control form-control-user" name="tags">
            @foreach (var item in Model.Tags)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>*@
    <div class="form-group">
        <p>Blog Description-(Minimum 150 Length)</p>
        <textarea id="summernote" name="Description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Add This Blog
    </button>
    <hr>
</form>


