@model List<LabradogApp.ViewModels.BasketItemViewModel>
@{
    ViewData["Title"] = "Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="SP align-items-center d-flex justify-content-center mb-5">
    <h1 class="AU">Grid Shop</h1>
</div>

<div class="container">
    <div class="d-none d-sm-none d-md-block ">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <p class="text-muted px-3 ">
                    Product Name
                </p>
            </div>
            <div class="col-lg-2 col-md-2">
                <p class="text-muted text-center">Price</p>
            </div>
            <div class="col-lg-2 col-md-2">
                <p class="text-muted text-center">
                    Quantity
                </p>
            </div>
            <div class="col-lg-2 col-md-2">
                <p class="text-muted text-center">Total</p>
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card mb-3 border-0" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <img style="width: 100%;" src="~/uploads/@item.Image" class="rounded-start ms-2" alt="...">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <span class="HP FFWT"> @item.Name -</span>
                                            <span class="text-muted FFWT">
                                                @if (item.Title.Length > 60)
                                                {
                                                    @item.Title.Substring(0, 60)

                                                }
                                                else
                                                {
                                                    @item.Title
                                                }

                                                ...
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 10vh;" class="col-lg-2 col-sm-12 col-md-2">
                        <p style="height: 100%;" class="text-muted d-flex justify-content-center align-items-center">
                            @item.Price
                        </p>
                    </div>
                    <div style="height: 10vh;" class="col-lg-2 col-md-2 col-sm-12 d-flex justify-content-center align-items-center" id="incrementPrice">
                        <form method="post" action="@Url.Action("addbasket", "shop", new { id = item.Id, countClick = (item.Count),})">
                            <button class="rounded-pill BTCR border-0 py-2 px-3" type="submit">+</button>
                            <input type="hidden" value="Increment" name="type" />
                        </form>
                        <span class="mx-3"> <input id="clicks" name="countClick" value="@item.Count" style="border:none;width:20px;" /></span>
                        @if (item.Count > 1)
                        {
                            <form method="post" action="@Url.Action("addbasket", "shop", new { id = item.Id, countClick = (item.Count - 1), type = 0 })">
                                <button class="rounded-pill BTCR2 border-0" type="submit">-</button>
                                <input type="hidden" value="Decrement" name="type" />
                            </form>
                        }
                        else
                        {
                                <button class="rounded-pill BTCR2 border-0" type="submit">-</button>
                                <input type="hidden" value="Decrement" name="type" />
                        }
                    </div>
                    <div style="height: 10vh;" class="col-lg-2 col-md-2 col-sm-12">
                        <p style="height: 100%;" class="text-muted d-flex justify-content-center align-items-center">
                            @(item.TotalPrice)
                        </p>
                    </div>
                </div>

            </div>
        }

    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-around my-2 MQ">
            <p class="justify-content-center  justify-content-lg-end d-flex align-items-center ">
                <span>Total:</span>
                <span class=" fs-4">@Model.Sum(x => x.TotalPrice)</span>
            </p>
            <a type="button" class="btn btn-warning rounded-pill BRPB text-dark px-3 fw-bold py-2 text-white" href="/checkout">Proceed to Checkout</a>
        </div>

    </div>

</div>

