@model LabradogApp.ViewModels.ShopDetailViewModel
@{
    ViewData["Title"] = "ShopDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="SP align-items-center d-flex justify-content-center mb-5">
    <h1 class="AU">Grid Shop</h1>
</div>

<div class="container">
    <div class="card mb-3 border-end-0" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img style="width: 90% !important;" src="img/product1.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title FFW"><span class="HP">@Model.Product.Name -</span> <span class="text-muted">@Model.Product.Category.Name</span></h6>
                    <p class="card-text"><span style="font-size: 1.3rem !important;" class="D">@Model.Product.DiscountPrice</span> <del>@Model.Product.Price</del></p>
                    <p class="card-text">
                        <i class="fas fa-star SF"></i>
                        <i class="fas fa-star SF"></i>
                        <i class="fas fa-star SF"></i>
                        <i class="fas fa-star SF"></i>
                        <i class="fas fa-star SF"></i>
                        @*<span class="text-muted SPF ms-2">24</span>
                            <span class="text-muted SPF">Reviews</span>*@
                    </p>
                    <p class="text-muted">@Model.Product.Title</p>
                    <p><span class="text-dark">Categories:</span><span class="text-muted">@Model.Product.Category.Name</span></p>
                    <p><span class="text-dark">Feed class:</span><span class="text-muted">@Model.Product.FeedClass</span></p>
                    <p>
                        <span class="text-dark">
                            Country of Origin:
                        </span><span class="text-muted">@Model.Product.CountryOfOrigin</span>
                    </p>

                    <button class="rounded-pill BTCR border-0 py-2 px-3" type="button" onClick="onClick()">+</button>
                    <span class="mx-3"> <a id="clicks">0</a></span>

                    <button class="rounded-pill BTCR2 border-0" type="button" onClick="onClickk()">-</button>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <img style="width: 15% !important;" src="img/product1(2).png" alt="">
    <img style="width: 15% !important;" src="img/product1(3).png" alt="">
    <img style="width: 15% !important;" src="img/product1.png" alt="">
</div>
<hr>

<div class="container py-3">
    <h4 class="D my-3">Reviews</h4>
    @foreach (var item in Model.Product.ReviewProducts)
    {
        <div class="card mb-3 border-0" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-1 mx-auto py-3">
                    <img src="~/LabraDog/img/Rev.jpg" class="img-fluid  rounded-circle" alt="...">
                </div>
                <div class="col-md-11">
                    <div class="card-body">
                        <div class="py-1">
                        <p class="">@item.User.FullName</p>
                            <span class="text-muted">@item.CreatedAt.ToShortTimeString()</span>
                        </div>
                        <p class="card-text text-muted">@item.Text</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <h4 class="LAR">Leave A Review</h4>
        <form method="post" action="@Url.Action("addcomment","shop")">
            <div class="row">
                <div class="col-lg-8 py-4">
                    <textarea class="form-control rounded-pill" id="exampleFormControlTextarea1" placeholder="Message" rows="3" name="Text"></textarea>
                </div>
                <input type="hidden" value="@Model.Product.Id" name="ProductId" />
            </div>
            <button type="submit" class="badge rounded-pill  text-light px-4 py-3 BT mx-auto" style="border-width:0px">Submit</button>
        </form>
    </div>
}

<div class="container my-3">
    <h4 class="D LAR">
        Additional Information
    </h4>
    <p class="text-muted">@Model.Product.Title</p>
    <div class="row">
        <div class="col-lg-5 col-sm-12 col-md-5">
            <p>
                <span>
                    Feed class:
                </span>
                <span class="text-muted">
                    @Model.Product.FeedClass
                </span>
            </p>
            <p>
                <span>
                    Pet's age:
                </span>
                <span class="text-muted">
                    @Model.Product.PetsAge

                </span>
            </p>
            <p>
                <span>
                    Breed size:
                </span>
                <span class="text-muted">

                    @Model.Product.BreedSize
                </span>
            </p>
        </div>
        <div class="col-lg-7 col-sm-12 col-md-7">
            <p>
                <span>
                    Type of meat:

                </span>
                <span class="text-muted">
                    @Model.Product.TypeOfMeat
                </span>
            </p>
            <p>
                <span>
                    Country of Origin:
                </span>
                <span class="text-muted">
                    @Model.Product.CountryOfOrigin

                </span>
            </p>
            <p>
                <span>
                    Special parameters:

                </span>
                <span class="text-muted">

                    @Model.Product.SpecialParameters
                </span>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <h4 class="D LAR my-3">
        Delivery And Payment
    </h4>
    <p class="text-muted">
        @Html.Raw(Model.Product.DeliveryAndPaymentInfo)
    </p>
</div>


<div class="container">
    <h4 class="text-center VP">Featured Products</h4>
    <div class="row">
        @foreach (var item in Model.LastProducts)
        {
            <div class="col-lg-3 col-sm-12 col-md-3 my-3">
                <div class="card SHW p-0">
                    <img src="img/product1.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <i class="fas fa-star SF"></i>
                        <i class="fas fa-star SF"></i>
                        <i class="fas fa-star SF"></i>
                        <i class="fas fa-star SF"></i>
                        <i class="fas fa-star SF"></i>
                        @*<span class="text-muted SPF ms-2">24</span>
                            <span class="text-muted SPF">Reviews</span>*@
                        <p class="py-2 CSH PFS">@item.DiscountPrice <del class="text-muted">@item.Price</del></p>
                        <p class="HP mb-0">@item.Name - </p>
                        <span class="text-muted">@item.Category.Name</span>
                        <p class="card-text"></p>
                        <button type="button" class="btn btn-outline-warning rounded-pill BRP text-dark px-3 fw-bold">Add To Cart</button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
    </div>
    </div>
    </div>

